<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/home.css')}}' />
</head>
<body>
    <div id='header'>
        <ul>
        <li>Katie</li>
        <li>Home</li>
        <li>Campaign</li>
        <li>Sign Up</li>
        <li>Donate</li>
        </ul>
    </div><!--end of header-->
    <hr />

    <h1>Vote to Make a Difference <br />
    Katie for Utah</h1>
    <blockquote><h2>Protect our Future</h2></blockquote>


</body>
</html>