<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/home.css')}}' />
</head>
<body>
    <div id='header'>
        <ul>
        <li>Katie</li>
        <li>Home</li>
        <li>Campaign</li>
        <li>Sign Up</li>
        <li>Donate</li>
        </ul>
    </div><!--end of header-->
    <hr />

    <div class="container">Vote to Make a Difference <br />
        Protect Our Future!</div>

    <img src="/static/images/utah.jpg" alt="Utah national park"/>
    </div>

</body>
</html>